.loads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  text-align: center;
}


.load-details-card {
  background-color: #175f99;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.load-details-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.load {
  background-color: var(--white);
  border: 1px solid var(--outline);
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.load-card {
  background-color: #175f99;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 900px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.load-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.load-card h3 {
  margin: 0 0 8px;
}

.load-card p {
  margin: 4px 0;
}

.loads-container {
  width: 100%;
  max-width: 900px;
  margin: 1rem auto 0 auto;
  padding: 20px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: right;
}

.button-group button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #73eb23;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.button-group button:hover {
  background-color: #d6da20;
}

.button-group button:nth-child(2) {
  background-color: #dc3545;
}

.button-group button:nth-child(2):hover {
  background-color: #a71d2a;
}

.loads-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.create-load-btn {
  padding: 10px 16px;
  font-size: 1rem;
  background-color: #f1a753;
  color: rgb(253, 253, 253);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-load-btn:hover {
  background-color: #218838;
}

.claim-load-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.claim-load-btn:hover {
  background-color: #0056b3;
}

.complete-button {
  padding: 6px 12px;
  background-color: #06b614;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.complete-button:hover {
  background-color: #138496;
}
