.welcome-background {
    margin: 2rem auto;
    width: 75%;
    text-align: center;
    padding: 5% 3rem;
    border: 1px solid var(--outline);
    background-color: rgb(31, 106, 167);
    border-radius: 0.5rem;
  }
  
  /* This targets any h1 that is a child of an element with the .welcome-background class */
  .welcome-background > h1 {
    display: flex;
    flex-direction: column;
    color: var(--primary);
  }
  
  /* This targets any div that is a child of an element with the .welcome-background class */
  .welcome-background > div {
    font-style: italic;
  }

.welcome-content {
  color: rgb(248, 196, 25);
  font-size: larger;
  
}

.truck-logo {
  max-width: 500px;
}